<!--form
>
  <input 
  *ngFor ="let table of tables"
  type = "button"
  name="table" 
  value = {{table.name}}
  (click) = 'clicked(table)'
  [(ngModel)] = "selectedTable"
  >
</form-->
<H2>SELECT TABLE</H2>
<table-selection
  *ngFor= "let table of tables"
  [table] = "table"
  (click) = 'tableClicked(table)'
 >
</table-selection>

<h2>SELECT COLUMNS FROM {{currentTable.name}} </h2>
<select [(ngModel)] = "currentTable.selectedColumns" multiple>
  <option *ngFor = "let column of currentTable.columns"
  >{{column}}</option>
</select>

<h2>Operators</h2>
<operator-selection
*ngFor="let operator of availableOperators"
[operator] = "operator"
(click) = 'operatorClicked(operator)'>
</operator-selection>

<h2>Conditions</h2> 
<div class = "condition selection">
<select [(ngModel)] = "currentCol">
    <option *ngFor = "let column of currentTable.columns"
    >{{column}}</option>
  </select>
<condition-selection
  *ngFor="let condition of availableConditions"
  [condition] = "condition"
  (click)= 'conditionClicked(condition)'
  [currentTable] = "currentTable">
</condition-selection>
</div>



<!--div
[ngStyle]="{display:'inline-block'}"
*ngFor ="let table of tables">
<button class="table_button"
(click) = 'clicked(table)'
>
{{table.name}}
</button>
</div>
<br>
<select *ngIf= "tableSelected" 
[(ngModel)] = "selectedColumns" multiple>
  <option *ngFor = "let column of selectedTable.columns">
    {{column}}
  </option>
</select-->

<!-- <input 
*ngFor= "let table of tables"
type = "button"
value="{{table.name}}"
[(ngModel)]="selectedTable"
>
<p>{{selectedTable.name}}</p> -->


<div 
class = "showQuery">
<query-window 
[query] = "query">
</query-window>
</div>

