<h3 class="ui horizontal divider header">
    {{table.name}}
</h3>
<table class="ui celled table">
  <thead>
    <tr>
    <th *ngFor = "let column of table.columns">
    {{column}}
    </th>
  </tr>
  </thead>
  <tr *ngFor= "let row of table.data">
      <td *ngFor="let column of table.columns">{{ row[column] }}</td>
  </tr>
</table>
