<!-- <div class = "container">
  <div *ngIf = "selectedTable"
  class = "showTable">
    <p>FROM {{selectedTable.name}}</p>
    
</div>
</div>
<p>{{query}}</p> -->


<div class= "select block"> SELECT
 <div>{{query.table.selectedColumns}}</div>
<div>

<div class = "table block">FROM
  <div>{{query.table.name}}</div>

  </div>

<div class = "conditions"
*ngFor = "let condition of query.conditions; let i = index"> 
{{condition.column}} {{ConditionType[condition.type]}} 
<div>
  {{Operator[query.operators[i]]}}
</div>
</div>

